<h1>New Student</h1>

    <%= form_for @new_student do |f| %> 
        <%= f.label :first_name, "Please Enter First Name" %> 
        <%= f.text_field :first_name%> 
        <%= f.label :last_name, "Last Name" %> 
        <%= f.text_field :last_name%> 
        <%= f.submit "It's a new student!" %> 


    
    <%end%> 
